@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  line-height: normal;
  font-family: 'Dm Sans' !important; 
}
:root {

  /* font sizes */
  --font-size-4xs: 10px;
  --text-s-regular1-size: 12px;
  --small-bold-size: 13px;
  --text-m-regular1-size: 14px;
  --font-size-sm: 15px;
  --text-l-bold1-size: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 25px;
  --font-size-4xl: 32px;
  --font-size-5xl: 34px;
  --font-size-6xl: 36px;
  --font-size-7xl: 40px;
  --font-size-8xl: 48px;
  --font-size-9xl: 56px;
  --font-size-10xl: 60px;

  /* Colors */
  --color-linen-100: #fff;
  --color-linen-200: #EAE5D9;
  --color-gray-100: #949494;
  --text-graydark: #282829;
  --black-801: #121;
  --dark: #0a142f;
  --color-gray-500: #141414;
  --color-gray-600: #111;
  --light-text-primary1: #0e1114;
  --color-gray-800: rgba(16, 16, 16, 0.79);
  --color-gray-900: rgba(0, 0, 0, 0.6);
  --background-lighten: rgba(0, 0, 0, 0.03);
  --color-gray-1100: rgba(0, 0, 0, 0.7);
  --color-gray-1200: rgba(20, 20, 20, 0.3);
  --color-gray-1300: rgba(20, 20, 20, 0.7);
  --color-gray-1400: rgba(17, 17, 17, 0.1);
  --color-gray-1500: rgba(20, 20, 20, 0.2);
  --color-gray-1600: rgba(20, 20, 20, 0.8);
  --color-gray-1700: rgba(20, 20, 20, 0.05);
  --color-gray-1800: rgba(20, 20, 20, 0.1);
  --color-green: #108a00;
  --color-darkslategray-100: #444;
  --color-darkslategray-200: #434343;
  --color-darkslategray-300: #393f47;
  --color-darkslategray-400: #2b3d51;
  --neutral-901: #2f343a;
  --color-darkslategray-600: rgba(49, 48, 48, 0.31);
  --light-text-white1: #fff;
  --color-mediumslateblue-100: #7d5ae2;
  --color-mediumslateblue-200: rgba(125, 90, 226, 0.1);
  --color-royalblue-100: #3575e2;
  --color-royalblue-200: rgba(53, 117, 226, 0.2);
  --color-gainsboro-100: #dfe2e5;
  --color-gainsboro-200: #e0e0e0;
  --border-gray: #dee0e1;
  --color-gainsboro-400: #d9d9d9;
  --color-dimgray-100: #6f747a;
  --light-text-secondary1: #616c76;
  --text-gray: #636466;
  --color-dimgray-400: #636161;
  --color-darkgray-100: #9e9e9e;
  --text-graylight: #939598;
  --color-thistle: #d0bac6;
  --color-black: #000;
  --white3: #f8f8f8;
  --background-grayultralight: #f7f7f8;
  --light-border-overlay1: #eef1f4;
  --color-whitesmoke-400: #e9eaed;
  --color-lightgray-100: #d4d4d4;
  --light-border-primary1: #cdd5de;
  --light-bg-block-31: #8fa0af;
  --color-aliceblue: #e8f2fe;
  --light-system-success1: #1d9745;
  --light-system-error1: #fe2836;
  --color-silver: #c0bcbc;
  --color-khaki: #fbeb99;
  --primary-2: #390d72;
  --color-blueviolet: #6913d8;

  /* Gaps */
  --gap-7xs: 1px;
  --gap-6xs: 2px;
  --gap-5xs: 4px;
  --gap-4xs: 5px;
  --gap-3xs: 6px;
  --gap-2xs: 8px;
  --gap-xs: 10px;
  --gap-sm: 12px;
  --gap-md: 14px;
  --gap-lg: 16px;
  --gap-xl: 20px;
  --gap-2xl: 23px;
  --gap-3xl: 24px;
  --gap-4xl: 28px;
  --gap-5xl: 32px;
  --gap-6xl: 40px;
  --gap-7xl: 48px;

  /* Paddings */
  --padding-11xs: 2px;
  --padding-10xs: 4px;
  --padding-9xs: 5px;
  --padding-8xs: 6px;
  --padding-7xs: 7px;
  --padding-6xs: 8px;
  --padding-5xs: 10px;
  --padding-4xs: 12px;
  --padding-3xs: 14px;
  --padding-2xs: 15px;
  --padding-xs: 16px;
  --padding-sm: 18px;
  --padding-md: 20px;
  --padding-lg: 24px;
  --padding-xl: 40px;
  --padding-2xl: 48px;
  --padding-3xl: 52px;
  --padding-4xl: 59px;
  --padding-5xl: 64px;
  --padding-6xl: 80px;
  --padding-7xl: 82px;
  --padding-8xl: 89px;
  --padding-9xl: 102px;
  --padding-10xl: 104px;
  --padding-11xl: 144px;

  /* border radiuses */
  --br-4xs: 1px;
  --br-3xs: 2px;
  --br-2xs: 3px;
  --br-xs: 4px;
  --br-sm: 6px;
  --br-md: 8px;
  --br-lg: 12px;
  --br-xl: 16px;
  --br-2xl: 27.71px;
  --br-3xl: 100px;
  --br-4xl: 999px;

  /* Effects */
  --stroke-block1: 0px 0px 0px 1px rgba(219, 222, 223, 0.44);
  --shadow-header1: 0px 1px 2px rgba(2, 17, 37, 0.12);
  --box-shadow-elevated-regular1: 0px 0px 4px rgba(2, 17, 37, 0.08),
    0px 2px 8px rgba(2, 17, 37, 0.08), 0px 6px 16px rgba(2, 17, 37, 0.04);
  --box-shadow-elevated-right: 0px 0px 4px rgba(2, 17, 37, 0.04),
    2px 0px 8px rgba(2, 17, 37, 0.04), 6px 0px 16px rgba(2, 17, 37, 0.04);
  --box-shadow-elevated-left1: 0px 0px 4px rgba(2, 17, 37, 0.08),
    -2px 0px 8px rgba(2, 17, 37, 0.08), -6px 0px 16px rgba(2, 17, 37, 0.04);
}
