/* .footer{
    font-family: 'Montserrat', sans-serif ;
    display: flex;
    background-color: var(--color-green);
    height: 60vh;
}
.footer .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
width: 60%;
}
.footer .right{
    width: 40%;
}
.footer .right img{
    width: 100%;
    height: 80%;
}

.footer-btn{
    border-radius: 20px;
    width: max-content;
    padding:10px 20px;
} */

.footer{
  /* height: 100vh; */
  position: relative;
  background: #FAFAFA;
}
.footer form{
  flex-basis: clamp(300px, 50%, 560px);
}
.footer .circle{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 1;

}

.footer .circle::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: var(--color-green);
  clip-path: ellipse(80% 60% at 50% 75%);
  z-index: -1;
  /* clip-path: ellipse(100% at 50% 80%); */
  /* clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0 100%); Updated clip-path for the desired line shape at the top */
  /* clip-path: ellipse(90% 100% at 50% 100%) Updated clip-path to create a smaller curved shape at the top */
}


@media screen and (max-width:992px) {
  .footer .circle::before{
    clip-path: none;
  }
  .footer .circle h1{
    text-align: center;
  }

}