@font-face {
    font-family: 'Moiz';
    src: url('../public/fonts/HelveticaNeueMedium.ttf') format('truetype');
  }
  
.gig-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: min-content;
   margin: 10px;
   font-family: 'Moiz' !important;
  }
  .carousel-item {
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-inner {
    overflow: hidden;
  }
  .carousel-control-prev-icon{
background-image: url(../public/gigprevious.png);
  }
  
  .carousel-control-next-icon{
background-image: url(../public/gignext.png);
  }
  
  
  .gig-card .image {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  .gig-card .image img {
    width: 300px;
    height: 181.82px;
    border-radius: 8px;
  }
  
  /* .gig-card .content {
  }
   */
   .seller-info img{
     width: 50px;
     height: 50px;
     margin-right: 10px;
     border-radius: 50%;
   }
  .gig-card .title {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #333;
  }
  .gig-link{
    text-decoration: none;
    cursor: pointer;
    
  }
  .gig-link:hover {
    text-decoration: underline;
  }
  .ml-auto{
    margin-left: auto;
  }
  .gig-card .price {
    font-size: 16px;
    font-weight: 600;
    color: #00b140;
    margin-bottom: 8px;
  }
  
  .gig-card .rating {
    font-size: 15px;
    color: #888;
    margin-bottom: 8px;
  }
  
  .gig-card .seller-info {
    display: flex;
    align-items: center;
  }
  
  .gig-card .seller-name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-right: 8px;
  }
  
  .gig-card .level {
    font-size: 12px;
    color: #00b140;
    padding: 4px 8px;
    border: 1px solid #00b140;
    border-radius: 4px;
  }
  .content{
    height: 200px;
  }
  
  /* Add any additional styling as needed */
  