@font-face {
  font-family: 'Moiz';
  src: url('../public/fonts/HelveticaNeueMedium.ttf') format('truetype');
}
.profile-page {
  font-family: 'Moiz'!important; 
width: 80vw;
margin: auto;
min-height: 80vh;
}
.rating{
  display: flex;
  align-items: center;
  margin: 3px;
  gap: 4px;
  justify-content: center;
}
.css-d3wcwz-MuiTypography-root{
margin: 0 !important;
color:#afafaf;
}
.cover img {
    max-width: 80vw;
    max-height: 30vh;
  }
.create-gig{
    padding: 8px;
}  
  
  .cover {
    display: flex;
    position: relative;
  }
  
  .profile-div {
    display: flex;
    align-items: center;
    /* width: 80vw; */
    margin: auto;
    position: relative;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .profile-image {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    position: absolute;
    top: -30px;
    z-index: 3;
  }
  
  .name {
    margin-top: 80px;
  }
  
  .bio {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .icon-container {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    background: green;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin: 0;
    filter: invert(1);
    margin-left: 5px;
  }
  
  .icon-container img {
    width: 20px;
    height: 20px;
  }
  .profile-nav-section{
    display: flex;
    /* width: 80vw; */
    background: #f4f4f4;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

    margin: auto;
  }
  .profile-nav-section div{
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    
  }
  .active{
    color: white;
    background-color: var(--color-green);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .gig-active{
    border-bottom: 1px solid black;
    border-radius: 0 !important;
  }
  .profile-about-section{
    padding: 10px;
    background: #f4f4f4;
    margin-top: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  }
  .gigs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }